appdirs==1.4.0
defusedxml==0.5.0
Django==1.10.5
django-dashing==0.3.2
django-debug-toolbar==1.6
django-flat-responsive==1.2.0
gunicorn==19.6.0
oauthlib==2.0.1
packaging==16.8
pycrypto==2.6.1
PyJWT==1.4.2
pyparsing==2.1.10
python-social-auth==0.3.6
python3-openid==3.0.10
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.7.0
Simple-AES-Cipher==1.0.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
sqlparse==0.2.2
